<html>
<head>
<style>
</style>
<script src="/ready.min.js"></script>
</head>
<body>

<h2>Tickets</h2>
<table>
<thead>
	<tr>
		<th>Event</th>
		<th>Amount</th>
		<th>Cost</th>
	</tr>
</thead>
<tbody>
{% for ticket in tickets %}
	<tr>
		<td>{{ticket.timeslot.event.title}}</td>
		<td>{{ticket.amount}}</td>
		<td>{{ticket.price}}</td>
	</tr>
{% endfor %}
	<tr>
		<td colspan="2">
		</td>
		<td>{{total_tickets}}</td>
	</tr>
</tbody>
</table>

<h2>Merchandise</h2>
<table>
<thead>
	<tr>
		<th>Item</th>
		<th>Amount</th>
		<th>Cost</th>
	</tr>
</thead>
<tbody>
{% for purchase in purchases %}
	<tr>
		<td>{{purchase.sku.title}}</td>
		<td>{{purchase.amount}}</td>
		<td>{{purchase.price}}</td>
	</tr>
{% endfor %}
	<tr>
		<td colspan="2">
		</td>
		<td>{{total_purchases}}</td>
	</tr>
</tbody>
</table>

<form method="POST" action="/checkout">
<input type="hidden" name="convention" value="{{convention_key}}">
<input type="hidden" name="ok" value="{{baseurl}}/checkout/ok">
<input type="hidden" name="fail" value="{{baseurl}}/checkout/fail">
Total: {{total}}
<input type="submit" value="Checkout">
</form>

</body>
</html>