<!DOCTYPE html>
<html>
<head>
<style type="text/css">
body {
	font-family: sans;
}

#provider-list {
	width: 10rem;
	margin: 5em auto 0;
}

form p {
	width: 195px;
}

input[type="email"], input[type="text"], input[type="password"] {
	border-width: 0px 0px 1px;
	border-style: solid;
	border-color: #808080;
	border-image: none;
	width: 100%;
}

input[type="password"] {
	width: 82%;
	width: calc(100% - 34px);
}

#register-password input[type="password"] {
	width: 100%;
}

input[type="image"] {
	vertical-align: bottom;
	width: 32px;
}

form p a {
	font-family: sans 0.9em;
	color: black;
}

.error-msg {
	color: red;
	font-weight: bold;
	margin: 1em;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
(function($){
	function startEmailLogin(e) {
		$('#email-login').slideDown(750);
		return false;
	}

	function startEmailRegistration(e) {
		$('#login-password').slideUp(750, function(){
			$('#register-password').slideDown(750);
		});
		$('#password-auth').attr('action','/auth/register');
	}

	$(document).ready(function(){
		$('#email-button').click(startEmailLogin);
		$('#register-button').click(startEmailRegistration);
	});
})(jQuery);
</script>
</head>
<body>
{% if error %}
<p class="error-msg">{{ error }}</p>
{% endif %}
<div id="provider-list">
{% for provider in providers %}
	{% if provider.type == 'email' %}
	<div id="{{ provider.id }}">
		<a href="#" id="email-button"><img src="{{ provider.image }}"></a>
		<div id="email-login" style="display:none">
			<form method="post" action="/auth/signin" id="password-auth">
				<input type="hidden" name="redirect-url" value="{{ provider.redirecturl }}">
				<p><input type="email" name="email" id="email" placeholder="E-Mail"></p>
				<div id="login-password">
				<p><input type="password" name="password" id="password" placeholder="Password"><input type="image" src="/images/auth/enter.png"></p>
				<p>
					<a href="#" id="register-button">Register</a>
					<a href="#" id="register-button">Forgot Password?</a>
				</p>
				</div>
				<div id="register-password" style="display: none;">
				<p><input type="password" name="password-register" id="password-register" placeholder="Password"></p>
				<p><input type="password" name="password-confirm" id="password-confirm" placeholder="Confirm Password"></p>
				<p><button type="submit">Register</button></p>
				</div>
			</form>
		</div>
	</div>
	{% else %}
	<div id="{{ provider.id }}">
		<a href="{{ provider.url }}"><img src="{{ provider.image }}"></a>
	</div>
	{%  endif %}
{% endfor %}
</div>
</body>
</html>