<!DOCTYPE html>
<html>
<head>
<style type="text/css">
#provider-list {
	width: 10rem;
	margin: 5em auto 0;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div id="provider-list">
{% for provider in providers %}
	{% if provider.type == 'email' %}
	<div id="{{ provider.id }}">
		<a href="javascript:jQuery('#email-login').show();return false;"><img src="{{ provider.image }}"></a>
		<div id="email-login" style="display:none">
			<form method="post" action="/auth/signin">
				<p><input type="email" name="email" id="email" placeholder="E-Mail"></p>
				<p><input type="password" name="password" id="password" placeholder="Password"><input type="image" src="/images/auth/enter.png"></p>
			</form>
		</div>
	</div>
	{% else %}
	<div id="{{ provider.id }}">
		<a href="{{ provider.url }}"><img src="{{ provider.image }}"></a>
	</div>
	{%  endif %}
{% endfor %}
</div>
</body>
</html>