<!DOCTYPE html>
<html>
<head>
<style type="text/css">
#provider-list {
	width: 10rem;
	margin: 5em auto 0;
}
</style>
</head>
<body>
<div id="provider-list">
{% for provider in providers %}
	{% if provider.type == 'email' %}
	<div id="{{ provider.id }}">
		<h1>{{ provider.name }}</h1>
		<form method="post" action="/auth/signin">
		<p><input type="email" name="email" id="email" placeholder="E-Mail"></p>
		<p><input type="password" name="password" id="password" placeholder="Password"><input type="image" src="{{ provider.image }}"></p>
		</form>
	</div>
	{% else %}
	<div id="{{ provider.id }}">
		<a href="{{ provider.url }}"><img src="{{ provider.image }}"></a>
	</div>
	{%  endif %}
{% endfor %}
</div>
</body>
</html>